# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
   name: "Default"

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: Npm@1
  inputs:
    command: 'install'

- task: WhiteSource Bolt@19
  inputs:
    cwd: '.'

- script: |
    export PERCY_TOKEN=$(PERCY_TOKEN)
    npm run build
    percy snapshot build
  displayName: 'Percy Testing'


