version: 2
jobs:
  build:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            npm install
            sudo npm install -g percy

      - run:
          name: run our tests
          command: |
            npm run build
            percy snapshot build
