version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            npm install
            npm install --save-dev percy

      - run:
          name: run our tests
          command: |
            npm run build
            npx percy snapshot build
